
<MudDialog>
    <DialogContent>
        @switch (_state)
        {
            case RequestVoiceState.RequestingVoices:
                <div class="d-flex">
				<MudText Typo="Typo.subtitle1" Class="flex-grow-1">@(ClientVoicesMsg)</MudText>
                    <MudProgressCircular Color="Color.Secondary" Indeterminate="true" />
                </div>
                break;
            case RequestVoiceState.FoundVoices:
                if (_voices is { Length: > 0 })
                {
				<MudSelect T="string" Label="@(Voice)" AdornmentColor="Color.Secondary"
                               AutoFocus="true" Strict="true" Variant="Variant.Outlined"
                               AnchorOrigin="Origin.BottomCenter" ReadOnly="(_state is RequestVoiceState.RequestingVoices)"
                               TextChanged="OnValueChanged"
                               OpenIcon="@Icons.Material.Filled.RecordVoiceOver" @bind-Value="@_voicePreferences!.Voice">
                        @foreach (var voice in _voices!)
                        {
                            <MudSelectItem T="string" Value="@voice.Name">
                                @voice.Name
                            </MudSelectItem>
                        }
                    </MudSelect>

                    <MudSlider TickMarks=true Step=".25" Min="_voiceSpeeds.Min()" Max="_voiceSpeeds.Max()"
                               Variant="Variant.Filled" @bind-Value="@_voicePreferences!.Rate"
                               ValueLabel=true Immediate=true>
					@(VoiceSpeed) (@(_voicePreferences!.Rate))
                    </MudSlider>

                    <MudCheckBox @bind-Checked=@_voicePreferences!.IsEnabled Size="Size.Large" Color="Color.Primary"
                                 Label="@(TTPEnabled)" />
                }
                break;
            default:
				<MudTextField Value=@(LoadVoicesError) Label="Error"
                              ReadOnly="true" Variant="Variant.Outlined" Error="true" />
                break;
        }

    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel" Size="Size.Large"
                   Variant="Variant.Filled">@(cancel)</MudButton>
        <MudSpacer />
        <MudButton Color="Color.Secondary" Size="Size.Large"
                   StartIcon="@Icons.Material.Filled.Save"
                   Variant="Variant.Filled" OnClick="SaveVoiceSelection">@(Save)</MudButton>
    </DialogActions>
</MudDialog>